#form-area{
  clear: both;
  padding: 10px;
  margin: 0;
}

#form-area input{

   margin:5px 0 0 10px;
}

button{
    margin:5px 0 0 160px;
}

#form-area div > label {
    display: block;
    float: left;
    width: 150px;
    padding: 0;
    margin: 5px 0 0;
    text-align: right;
}
