#form-area{
  clear: both;
  padding: 10px;
  margin: 0;
}
div > label {
    display: block; 
    float: left;
    width: 150px;
    padding: 0;
    margin: 5px 0 0;
    text-align: right;
}

#form-area input{

   margin:5px 0 0 10px;
}